
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:monospace;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.square{
  width: 650px;
  background-color: #dde5b6;
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
border-radius: 20px;
}
.circle{
  background-color: #282c34;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 30px 20px;
  border: 5px dashed #f1cf80 ;
  overflow: hidden;
  display: flex;
justify-content: center;
align-items: center;}
